html { position: relative; margin: 0; padding: 0; }
body { margin: 0; padding: 0; text-align: left; }
#imPage { position: relative; width: 100%; }
#imHeaderBg { position: absolute; left: 0; top: 0; width: 100%; }
#imMnMnGraphics { position: absolute; top: 0; bottom: 0; z-index: 9; }
#imContentContainer { position: relative; }
#imContent { position: relative; }
#imContentGraphics { position: absolute; top: 0; bottom: 0; }
#imFooPad { float: left; margin: 0 auto; }
#imBtMnContainer { clear: both; }
.imPageRow { position: relative; clear: both; overflow: hidden; zoom: 1; float: left; width: 100%; }
.imHGroup:after, .imUGroup:after, .imVGroup:after { content: ""; display: table; clear: both; }
#imFooterBg { position: absolute; left: 0; bottom: 0; width: 100%; }
#imFooter { position: relative; }
@media (min-width: 1116px) {
		html { background-image: none; background-color: #FFFFFF; }
		#imPage { padding-top: 60px; margin-top: 0px; margin-bottom: 0px; min-width: 1116px; }
		#imHeaderBg { height: 0px; background-image: url('header-bg.jpg'); background-position: left top; background-repeat: repeat-x; background-attachment: scroll; background-color: transparent; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 0px; background-image: url('pixabay-bb4d3dcf99274750.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imHeaderObjects { position: relative; height: 0px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 55px; padding: 0px 0px 5px 5px; background-image: none; background-color: transparent; }
		#imMnMn > ul { text-align: right; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 0px 0 0px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: none; background-color: #FFFFFF; }
		#imFooterBg { height: 0px; background-image: none; background-color: transparent; }
		#imFooter { margin-left: auto; margin-right: auto; height: 50px; background-image: none; background-color: transparent; }
		#imFooterObjects { position: relative; height: 50px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 1116px; }
		#imMnMn { width: 1111px; }
		#imContentGraphics { width: 1116px; }
	
}
@media  (max-width: 1115px) and (min-width: 720px) {
		html { background-image: none; background-color: transparent; }
		#imPage { padding-top: 56px; margin-top: 0px; margin-bottom: 0px; min-width: 720px; }
		#imHeaderBg { height: 56px; background-image: none; background-color: #000000; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 70px; background-image: none; background-color: #EAEAEA; }
		#imHeaderObjects { position: relative; height: 70px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 51px; padding: 0px 0px 5px 5px; background-image: none; background-color: transparent; }
		#imMnMn > ul { text-align: right; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 0px 0 0px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 60px; background-image: none; background-color: #000000; }
		#imFooter { margin-left: auto; margin-right: auto; height: 60px; background-image: url('footer.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { position: relative; height: 60px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 720px; }
		#imMnMn { width: 715px; }
		#imContentGraphics { width: 720px; }
	
}
@media  (max-width: 719px) and (min-width: 480px) {
		html { background-image: none; background-color: transparent; }
		#imPage { padding-top: 56px; margin-top: 0px; margin-bottom: 0px; min-width: 480px; }
		#imHeaderBg { height: 56px; background-image: none; background-color: #000000; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 70px; background-image: none; background-color: #EAEAEA; }
		#imHeaderObjects { position: relative; height: 70px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 51px; padding: 0px 0px 5px 5px; background-image: none; background-color: transparent; }
		#imMnMn > ul { text-align: right; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 0px 0 0px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 60px; background-image: none; background-color: #000000; }
		#imFooter { margin-left: auto; margin-right: auto; height: 60px; background-image: url('footer.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { position: relative; height: 60px; }
		#imFooPad { height: 380px; }
		#imHeader, #imMnMnContainer, #imFooter { width: 480px; }
		#imMnMn { width: 475px; }
		#imContentGraphics { width: 480px; }
	
}
@media  (max-width: 479px) {
		html { background-image: none; background-color: transparent; }
		#imPage { padding-top: 56px; margin-top: 0px; margin-bottom: 0px; }
		#imHeaderBg { height: 56px; background-image: none; background-color: #000000; }
		#imHeader { position: relative; margin-bottom: 0; margin-left: auto; margin-right: auto; height: 70px; background-image: none; background-color: #EAEAEA; }
		#imHeaderObjects { position: relative; height: 70px; }
		#imMnMnContainer { position: absolute; top: 0; left: 0; right: 0; margin-left: auto; margin-right: auto; }
		#imMnMn { position: relative; height: 56px; padding: 0px 0px 5px 5px; background-image: none; background-color: transparent; }
		#imMnMn > ul { text-align: right; }
		#imMnMn li { display: inline; }
		#imMnMnGraphics { display: none; }
		#imContent { min-height: 380px; padding: 0px 0 0px 0; }
		#imContentGraphics { left: 0; right: 0; margin-left: auto; margin-right: auto; min-height: 380px;  background-image: none; background-color: transparent; }
		#imFooterBg { height: 60px; background-image: none; background-color: #000000; }
		#imFooter { margin-left: auto; margin-right: auto; height: 60px; background-image: url('footer.jpg'); background-position: left top; background-repeat: no-repeat; background-attachment: scroll; background-color: transparent; }
		#imFooterObjects { position: relative; height: 60px; }
		#imFooPad, #imBtMnContainer, #imBtMn, #imPgMnContainer { display: none; }
		#imPage, #imMnMn, #imContent, #imContentGraphics, #imFooter { box-sizing: border-box; width: 100%; }
	
}
